@import "Global";

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 230px;
  border-radius: 8px;
  background-color: $field-color-dark;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: $color-dark;
  }

  @media (prefers-color-scheme: light) {
    background-color: $field-color-white;

    &:hover {
      background-color: $second-button-hover-bg;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
    padding: 8px;

    h1,
    h2 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    h2 {
      font-size: 14px;
      color: #777;
      margin-right: 8px;
    }

    .subtitle-container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      span {
        cursor: pointer;
        margin-left: 8px;

        &:hover {
          color: $green;
        }
      }
    }
    .dropdown-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
    }
  }
}
