@import "Global";

.dropdown-menu-container {
  position: absolute;

  .dropdown-menu-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .dropdown-menu-list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: $field-color-dark;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    z-index: 2;
    @media (prefers-color-scheme: light) {
      background-color: $field-color-white;
    }

    li {
      cursor: pointer;
      padding: 10px;
      font-size: 14px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $color-dark;
        @media (prefers-color-scheme: light) {
          &:hover {
            background-color: $second-button-hover-bg;
          }
        }
      }

      &.selected {
        font-weight: bold;
      }
    }
  }
}
