// Global color variables
$primary-color: #007bff;
$primary-hover-color: #206acf;
$secondary-color: rgba(255, 255, 255, 0.2);
$hover-color: #646cff;
$white-theme-bg: #f9f9f9;
$second-button-hover-bg: #e8f0fd;
$color-dark: #213547;
$field-color-dark: #111d2f;
$field-color-white: #f0f0f4;
