@import "Global";

.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
  width: 300px;
  display: grid;
  grid-gap: 20px;
}

.login-form div {
  display: grid;
}

.login-form input {
  padding: 8px;
  border: none;
  background-color: $field-color-dark;

  @media (prefers-color-scheme: light) {
    background-color: $field-color-white;
  }
}
